.rnftg-item {
  width: auto;
}

.rnftg-item__img-wrapper {
  width: auto;
  height: 20rem;
}

.rnftg--inline .rnftg-item {
  width: 12rem;
}

.rnftg--inline .rnftg-item__img-wrapper {
  width: 12rem;
  height: 12rem;
}

/* tailwind `md` breakpoint */
@media (min-width: 768px) {
  .rnftg--inline .rnftg-item {
    width: 16rem;
  }

  .rnftg--inline .rnftg-item__img-wrapper {
    width: 16rem;
    height: 16rem;
  }
}

/* tailwind `lg` breakpoint */
@media (min-width: 1024px) {
  .rnftg--inline .rnftg-item {
    width: 20rem;
  }

  .rnftg--inline .rnftg-item__img-wrapper {
    width: 20rem;
    height: 20rem;
  }
}
